.btn-twitter{background:#00acee;border-radius:1;color:#fff;margin-top:-13px;}
.btn-twitter:link, .btn-twitter:visited{color:#fff}
.btn-twitter:active, .btn-twitter:hover{background:#0087bd;color:#fff}
.btn-googleplus{background:#e93f2e;border-radius:1;color:#fff;margin-top:-13px;margin-left:3px;}
.btn-googleplus:link, .btn-googleplus:visited{color:#fff}
.btn-googleplus:active, .btn-googleplus:hover{background:#ba3225;color:#fff}
body{padding-top:65px;}
.hero-spacer{margin-top:50px;}
.hero-feature{margin-bottom:30px;}
.footer{background-color:#f0f0f0;}

.spacing {
		padding-top:7px;
			padding-bottom:7px;
}
.middlePage {
		width: 680px;
		    height: 500px;
		        position: absolute;
			    top:0;
			        bottom: 0;
				    left: 0;
				        right: 0;
					    margin: auto;
}

.logo {
		color:#CCC;
}

#map { height: 600px; }
